*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/release/google-services.json
/app/src/debug/google-services.json
/app/fabric.properties
lists_keystore.jks
keystore.properties
/app/src/main/gen/
